@import url(./vars.less);
.main{
  .placeholder{
    color:@placeholder-color;
  }
  .am-card-body{
    min-height: 0;
  }
  .modal-header{
    position: absolute;
    top: 0;
    width:100%;
    z-index: 2;
  }
}