@import url(./vars.less);
@import url(./class.less);
@header-height: 40px;
@button-margin: 9px;
@button-height: 30px;

.station {
  background-color: #fff;

  &-search {
    position: relative;

    &-result {
      position: absolute;
      width: 100%;
      height: 60vh;
      overflow: scroll;
      z-index: 1;
    }
  }

  &-content {
    height: @popup-body-height;
    overflow: scroll;

    &-item {
      text-align: left;

      &-header {
        line-height: @header-height;
        font-size: @font-large;
      }

      &-character {
        &>span {
          display: inline-block;
          width: 35px;
          height: @button-height;
          margin: 0 @button-margin @button-margin 0;

          &:nth-child(8n) {
            margin-right: 0;
          }
        }

        &-button {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
        }
      }

      &-station {
        overflow: hidden;

        &__shrink {
          height: 147px;
        }

        &-button {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 79px;
          height: @button-height;
          margin: 0 @button-margin @button-margin 0;

          &:nth-child(4n) {
            margin-right: 0;
          }

          &__active {
            color: @subject-normal;

            &:before {
              border: 1px solid @subject-normal  !important;
            }
          }
        }
      }

      &-shrink {
        text-align: center;
        margin-top: 6px;
        font-size: @font-largest;
      }
    }
  }

  .am-list-body {

    &::after,
    &::before {
      display: none;
    }
  }

  .am-list-item .am-list-line .am-list-content {
    font-size: @font-normal ;
  }
}