@subject-normal: #108ee9;
@font-color: #000000;
@placeholder-color: #999999;

@font-largest:22px;
@font-larger: 18px;
@font-large: 16px;
@font-normal: 14px;
@font-small: 12px;
@font-smaller: 10px;
@popup-body-height: 75vh;