<!DOCTYPE html>
<html lang="zh">

<head>
  <title>{{ title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon.jpeg">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <link rel="shortcut icon" sizes="48x48" href="/images/favicon.jpeg">
  <meta name="theme-color" content="#f60">
  <link rel="stylesheet" href="/style/icon-font/iconfont.css">
  <link rel="preload" href="/js/performance.js" as="script">
  <link rel="manifest" href="/manifest.json">
  <style></style>
</head>

<body>
  <script type="text/javascript" src="/js/performance.js"></script>
  <script type="text/javascript" src="/js/vendors.dll.js"></script>
  <script type="text/javascript" src="/js/station.js"></script>
  <script type="text/javascript" src="https://kyfw.12306.cn/otn/HttpZF/GetJS"></script>
  <div id="root"></div>
</body>

</html>